form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .sec {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec > * {
    width: 100%;
  }
  .row-block > * {
    width: 100%;
  }
  .secTitle {
    font-size: medium;
    margin-bottom: 20px;
  }
  .row-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .form-field {
    flex-grow: 1;

    label {
      font-weight: bold;
    }
    input,
    textarea,
    select {
      background-color: #f3f3f5;
      border: none;
      border-radius: 8px;
    }
    input::placeholder {
      font-size: small;
    }
  }

  .container-sec-4-5 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex-direction: column;

    > * {
      flex-grow: 1;
    }
    .sec-4 > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .sec-4 > div div:nth-child(1) {
      opacity: 0.7;
    }
    .status {
      color: white;
      background-color: black;
      border-radius: 10px;
      padding: 5px 10px;
    }
  }
}

#uploaded-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

  img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    object-fit: contain;
    border: 1px solid #e9e9e9;
  }
}
@media only screen and (min-width: 768px) {
  #uploaded-img-container {
    justify-content: start;

    img {
      width: 200px;
      height: 250px;
    }
  }
  form .container-sec-4-5 {
    flex-direction: row;
  }
}
