body {
  background-image: url("../assets/Images/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/Images/1.jpg") no-repeat center center / cover;
  filter: blur(8px);
  z-index: -1; /* keep it behind content */
}

img {
  display: none;
}

main {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  font-size: 1rem;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}
/* ================ Media query ================  */
/* ================ Media query ================  */
/* ================ Media query ================  */
@media only screen and (min-width: 992px) {
  body {
    background-image: none;
    padding-left: 0;
    justify-content: space-between;
    gap: 20px;
  }

  img {
    display: inline-block;
    height: 100vh;
    object-fit: cover;
    width: 50%;
    filter: blur(3px);
  }
  main {
    flex-grow: 1;
  }
  body::before {
    background: none;
  }
}
